@model ML.Auto
@{
    ViewBag.Title = "Autos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Autos</h2>
    <div class="col-12">
        <div>
            @using (Html.BeginForm("AddAuto", "Auto", FormMethod.Post, new {@class="row"}))
            {
                <div>
                    @Html.LabelFor(model => model.Color)
                    @Html.TextBoxFor(model => model.Color)

                    @Html.LabelFor(model => model.Puertas)
                    @Html.TextBoxFor(model => model.Puertas)

                    @Html.LabelFor(model => model.Asientos)
                    @Html.TextBoxFor(model => model.Asientos)
                </div>
                <div class="col-4">

                    @Html.LabelFor(model => model.Version.Modelo.Marca.IdMarca, new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.Version.Modelo.Marca.IdMarca, new SelectList(Model.Version.Modelo.Marca.Marcas, "IdMarca", "Nombre"), "Selecciona una marca", new { @class = "form-select form-select-lg mb-3", @id = "ddlMarca", @onchange = "ModeloGetyIdMarca()" })
                </div>
                <div class="col-4">
                    @Html.LabelFor(model => model.Version.Modelo.IdModelo, new { @class = "form-label" })

                    @if (Model.Version.Modelo.Modelos != null)
                    {
                        @Html.DropDownListFor(model => model.Version.Modelo.IdModelo, new SelectList(Model.Version.Modelo.Modelos, "IdModelo", "Nombre"), "Selecciona un Modelo", new { @class = "form-select form-select-lg mb-3", @id = "ddlModelo", @onchange = "VersionGetByIdModelo()" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Version.Modelo.IdModelo, new SelectList(String.Empty), "Selecciona un Modelo", new { @class = "form-select form-select-lg mb-3", @id = "ddlModelo", @onchange = "VersionGetByIdModelo()" })
                    }
                </div>
                <div class="col-4">
                    @Html.LabelFor(model => model.Version.IdVersion, new { @class = "form-label" })

                    @if (Model.Version.Versiones != null)
                    {
                        @Html.DropDownListFor(model => model.Version.IdVersion, new SelectList(Model.Version.Versiones, "IdVersion", "Nombre"), "Selecciona una Version", new { @class = "form-select form-select-lg mb-3", @id = "ddlVersion" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Version.IdVersion, new SelectList(String.Empty), "Selecciona una Version", new { @class = "form-select form-select-lg mb-3", @id = "ddlVersion" })
                    }
                </div>

                <button type="submit" class="btn btn-success">Agregar Auto</button>
            }
        </div>

        <div class="row">
            <div class="col-6">
                @{
                    List<object> imagenes = new List<object>();

                    if (Session["Imagenes"] != null)
                    {

                        imagenes = (List<object>)Session["Imagenes"];
                    }
                }
                @foreach (byte[] imagen in imagenes)
                {
                    <img src="data:imagen/*;base64,@Convert.ToBase64String(imagen)" width="50%" />
                }
            </div>
            <div class="col-6">
                @using (Html.BeginForm("CargarImagen", "Auto", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <!-- Contenedor con Bootstrap -->
                    <div class="container mt-4">
                        <div class="row">
                            <!-- Campo para subir imagen -->

                            <label for="ImagenAuto" class="form-label">Selecciona una imagen</label>
                            <input type="file" class="form-control" id="ImagenAuto" name="ImagenAuto" onchange="previsualizarImagen(this)">

                            <img id="previsualizacion" class="img-fluid border rounded mt-3 mb-3" alt="Vista previa" style="max-height: 300px;">

                        </div>

                        <!-- Botón de envío -->
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script>

    function previsualizarImagen(input) {
        var img = input.files[0];

        var reader = new FileReader()
        reader.onload = function () {

            var output = $('#previsualizacion')[0]
            //console.log(output)

            //var outputJS = document.getElementById('imgInput')
            //console.log(outputJS)
            output.src = reader.result
        }
        reader.readAsDataURL(img)
    }

    function ModeloGetyIdMarca() {
        var idMarcaVista = $("#ddlMarca").val();
        $.ajax({
            url: '@Url.Action("ModelosGetByIdMarca", "Auto")', //haciendo peticion
            type: 'GET', //tipo de peticion
            dataType: 'JSON', //XML, HTML, Text
            data: { IdMarca: idMarcaVista },
            success: function (result) {
                //console.log(result.Objects);
                if (result.Correct) {
                    var modelos = result.Objects;
                    var options = '<option value="">Selecciona un Modelo</option>';
                    $.each(modelos, function (index, modelo) {
                        options += '<option value="' + modelo.IdModelo + '">' + modelo.Nombre + '</option >'
                    })
                    $("#ddlModelo").empty().append(options);
                }
                else
                {
                    alert("Error")
                }
            },
            error: {
                //
            }
        })
    }

    function VersionGetByIdModelo() {
    var idModeloVista = $("#ddlModelo").val();
    $.ajax({
        url: '@Url.Action("VersionesGetByIdModelo", "Auto")',
        type: 'GET',
        dataType: 'JSON',
        data: { IdModelo: idModeloVista },
        success: function (result) {
            //console.log(result.Objects);
            if (result.Correct) {
                var versiones = result.Objects;
                var options = '<option value="">Selecciona un Modelo</option>';
                $.each(versiones, function (index, version) {
                    options += '<option value="' + version.IdVersion + '">' + version.Nombre + '</option >'
                })
                $("#ddlVersion").empty().append(options);
            }
            else
            {
                alert("Error")
            }
        }
    })
}

</script>

